.toolbar {
    height: 8vh;
}

button {
  border: none !important;
}

.palette {
  display: flex;
  width: 100%;
  height: 84vh;
  margin: 0;
  padding: 0;
  gap: 0;
  justify-content: center;
  justify-items: center;
  border: none;
  font-size: 1.4em;
}

/* Color Boxes */
.color_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.hex_code_wrapper {
  position: absolute;
  background: transparent !important;
  height: 50%;
  top: 0%;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: flex-end;   /* push child to the bottom */
  text-align: center;
}

.hex_code {
  position: absolute;
  bottom: 6px;
}

.color_features {
  position: absolute;
  background: transparent;
  height: 50%;
  width: 100%;
  top: 50%;
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  border: 1px solid red;
}

/* Default grayscale colors as fallback */
.gen_color:nth-child(1) { background-color: #eeeeee; }
.gen_color:nth-child(2) { background-color: #d6d6d6; }
.gen_color:nth-child(3) { background-color: #b7b7b7; }
.gen_color:nth-child(4) { background-color: #7b7b7b; }
.gen_color:nth-child(5) { background-color: #5f5f5f; }
