.navbar {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: #DDDDDD;
  border-bottom: 2px solid #CCCCCC;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

button {
  margin: 0;
  height: 100%;
  border-radius: 0px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: inherit;
}

.home_button {
  background-color: transparent;
}

.nav_button1:hover {
  background-color: #88aaff;
  transition-duration: 0.3s;
}

.nav_button2:hover {
  background-color: #a68dd5;
  transition-duration: 0.3s;
}

.nav_button3:hover {
  background-color: #c46faa;
  transition-duration: 0.3s;
}

.nav_button4:hover {
  background-color: #e25180;
  transition-duration: 0.3s;
}


.logo_wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  position: relative;
  height: 100%;
  gap: 0;
  border-radius: 0px;
  font-size: 1.8em;
  font-weight: 500;
  font-family: inherit;
  /*color: #e4e4e4; */
  background-color: none;
  cursor: pointer;
}

.navbar_logo {
  font-family: 'Dongle', system-ui, sans-serif;
  margin: 0;
  padding-top: 7%;
  display: flex;
  font-size: 2.5em;
  color: #3388EE;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo_drop {
  display: flex;
  position: relative;
  height: 50%;
  transition: transform 0.4s ease;
}

.logo_wrapper:hover .logo_drop {
  animation: smoothDropAndReturn 1.0s ease-in-out;
}

.link_text {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  height: auto;
}


@keyframes smoothDropAndReturn {
  0%   { transform: translateY(0); opacity: 1; }
  30%  { transform: translateY(60px); opacity: 0; }
  50%  { transform: translateY(-40px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
