.navbar {
  margin: 0;
  background-color: #8a0000;
  width: 100%;
}
button {
  margin: 0;
  border-radius: 0px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e4e4e4;
  background-color: #8a0000;
  cursor: pointer;
}
button:hover {
  background-color: #580000;
  transition-duration: 0.3s;
}

button a {
  text-decoration: none;
  color: inherit;
}