.palette {
  display: flex;
  width: 100%;
  height: 88vh;
  margin: 0;
  padding: 0;
  gap: 0;
  justify-content: stretch;
  justify-items: center;
  border: none;
  font-size: 1.4em;
  overflow: hidden;
}