:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(0, 0, 0, 0.87);
  background-color: #e4e4e4;

}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0;
  border-radius: 0px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e4e4e4;
  background-color: #8a0000;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: inherit;
}
