:root {
  font-family: 'Inter', system-ui, sans-serif;

  color: rgba(0, 0, 0, 0.87);
  background-color: #e4e4e4;

}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Nunito – Secondary font */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-ExtraLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Onest – Branding font */
@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Dongle */
@font-face {
  font-family: 'Dongle';
  src: url('/fonts/Dongle-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e4e4e4;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}

button a {
  text-decoration: none;
  color: inherit;
}
