.toolbar {
    height: 10vh;
}

.palette {
  display: flex;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  gap: 0;
  justify-content: center;
  justify-items: center;
  border: none;
}

/* Color Boxes */
.gen_color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding: 12 12px;
}

/* Default grayscale colors as fallback */
.gen_color:nth-child(1) { background-color: #eeeeee; }
.gen_color:nth-child(2) { background-color: #d6d6d6; }
.gen_color:nth-child(3) { background-color: #b7b7b7; }
.gen_color:nth-child(4) { background-color: #7b7b7b; }
.gen_color:nth-child(5) { background-color: #5f5f5f; }
